@import "./variables";

.searchBar {
  background-color: #eee;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  border-radius: $radius;
  box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);

  input {
    border: 0;
    background-color: inherit;
    height: inherit;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: normal;

    &:focus {
      outline: none;
    }
  }

  svg {
    // background-color: red;
    color: gray;
  }
}

@media only screen and (max-width: 490px) {
  .searchBar {
    display: none;
  }
}
